body {
  background-color: #ffffb5;
}
h1{
  color: #2f4f4f;
  
}
h3 {
  color: #66BFBF;
}
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
